.banerContainer {
  position: relative;
  width: 100%;

}

.banerImg {
  width: 100%;

}

.overlayText {
  position: absolute;
  width: 80%;

  top: 40%;
  left: 10%;
  right: 40px;
  color: white;

}

.titleTxt {
  font-family: Montserrat;
  font-size: 96px;
  font-weight: 700;
  line-height: 106px;
  letter-spacing: 0em;
  text-align: left;
}

.btnCheck {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 16px 56px;
  border-radius: 6px;
  gap: 10px;
  color: white;
  border: none;
  background-color: #339933;
  margin-top: 40px;
}


.banerContainer {
  position: relative;
  width: 100%;

}

.banerImg {
  width: 100%;

}

.overlayText {
  position: absolute;
  width: 80%;
  top: 30%;
  left: 10%;
  right: 10%;
  color: white;
  padding: 40px;
  margin-top: 40px;
  font-size: 96px;
  line-height: 106px;
  text-align: left;
}

.titleTxt {
  font-family: Montserrat;
  font-size: 96px;
  font-weight: 700;
  line-height: 106px;
  letter-spacing: 0em;
  text-align: left;
}

.btnCheck {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 16px 56px;
  border-radius: 6px;
  gap: 10px;
  color: white;
  border: none;
  background-color: #339933;
  margin-top: 40px;
}


/* Медиа-запрос для маленьких устройств (телефоны и планшеты) */
@media (max-width: 768px) {
  .overlayText {
    width: 90%;
    left: 5%;
    right: 5%;
    font-size: 48px;
    line-height: 56px;
  }

  .banerImg {
    border-radius: 0;
  }
}