.SaleProductsWrapper {
  display: flex;
  justify-content: space-between;

}

.titleBtnWrapper {
  display: flex;
  justify-content: space-between;
}

.lineBtnWrapper {
  display: flex;
  align-items: center;
  margin: 40px;
}

.SalesTitleBtn {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;

  margin: 30px;
}

.lineSales {
  height: 1px;
  border: none;
  border-top: 1px solid #DDDDDD;
  width: 1093px;
}

.SaleBtn {
  width: 142px;
  height: 36px;
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid #DDDDDD;
  color: #DDDDDD;
  background-color: white;
  gap: 10px;
}

.salesWrapper {
  width: 100%;
}


.salesWrapper {
  width: 100%;
}


@media (max-width: 768px) {
  .titleBtnWrapper {
    flex-direction: column;
    align-items: center;
  }

  .lineBtnWrapper {
    flex-direction: column;
    align-items: center;

  }

  .lineSales {
    width: 90%;
    max-width: 832px;
    border: 1px solid #DDDDDD;
    margin: 20px auto;

  }

  .SaleProductsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}