
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #282828;
  font-size: 20px;
  line-height: 26px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
  
}

body {
  overflow-x: hidden;
}

  .wrapper {
    width: 100%; /* использовать 90% ширины экрана */
    margin: 0; /* центрирование .wrapper */
    padding: 0;
  }
  

.menu {
  display: flex;
  gap: 32px;

  
}














